<ul ngbNav #nav="ngbNav" class="nav-tabs bg-primary">
  <li ngbNavItem class="navItem">
    <button class="button" ngbNavLink>Calculadora</button>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>


<div class="container d-flex justify-content-center mt-5 mb-3">
  <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
    <div class="card-body">
      <h3 class="card-title text-center mb-3">Calculadora</h3>

      <!-- Display -->
      <div class="mb-3">
        <input type="number" [(ngModel)]="num1" name="num1" class="form-control text-end fs-5 text-center" placeholder="Número 1" />
        <input type="number" [(ngModel)]="num" name="num" class="form-control text-end fs-5 mt-2 text-center" placeholder="Número 2" />
      </div>

      <!-- Operações -->
      <div class="mb-3">
        <button (click)="onClickSum()" class="btn btn-primary w-100 mb-2">Somar</button>
        <button (click)="onClickSub()" class="btn btn-secondary w-100 mb-2" >Subtrair</button>
        <button (click)="onClickMult()" class="btn btn-success w-100 mb-2" >Multiplicar</button>
        <button (click)="onClickDiv()" class="btn btn-danger w-100 mb-2" >Dividir</button>
        <button (click)="onClickPot()" class="btn btn-warning w-100 mb-2" >Potência</button>
        <button (click)="onClickMed()" class="btn btn-info w-100 mb-2" >Média</button>
      </div>

      <!-- Resultado -->
      <div class="mt-3 text-center">
        <ngb-alert class="alert justify-content-center mt-2 d-flex" style="max-width: 400px; width: 100%;" [dismissible]="false">
          {{result}}
        </ngb-alert>
        
      </div>
    </div>
  </div>
</div>
